.modal-body{
    margin-left: 2em;
    margin-right: 2em;
}

#photo img{
    max-width: 100%;
    max-height: 100%;
}

.modal-dialog{
    max-width: 600px;
}

.modal-header{
    background-color: #08465f;
    color: aliceblue;
}


.modal-footer{
    background-color: #08465f;
    color: aliceblue;
}

.modal-footer .btn-secondary{
    background-color: #08465f;
    color: aliceblue;
}